.select{
    padding: 0.3rem;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 5px;
    margin-left: 1rem;
}

.select:focus{
    outline: none;
}

.select option{
    background-color: transparent;
}