.pagination{
    display: flex;
    gap: 0.3rem;
}

.pagination button{
    padding: 0.3rem 1rem;
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--accent);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.pagination button:hover{
    background-color: var(--accent);
    color: var(--primary);
}

.pagination button.active {
    background-color: var(--accent);
    color: var(--primary);
    border-color: var(--primary);
}

.pagination button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}