.aside {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
    width: 4rem;
    min-width: 4rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    margin: 2rem 0 2rem 2rem;
}

.aside > div {
    width: 100%;
}

.menu {
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
}

.aside.active {
    width: 15rem;
    min-width: 15rem;
}

.aside ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.aside ul li {
    border-radius: 5px;
    padding: 0.5rem 0.9rem;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.menuActive {
    background-color: var(--foreground);
    color: var(--background);
}

.aside ul li:hover {
    background-color: var(--foreground);
    color: var(--background);
}

.aside ul li div {
    display: flex;
    align-items: center;
}

.aside ul li span {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-size: 0.9em;
}

.aside.active ul li span {
    opacity: 1;
}

@media screen and (max-width: 786px) {
    .aside {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }
}

@media screen and (min-width:786px) and (max-width:1200px) {
    .aside {
        margin: 1rem 0 1rem 1rem;
    }
}
